

## Lab 3 - part 2: Data Engineering

**TU Delft and WUR**<br>
**Q1 2024**<br>
**Instructor:** Theodoros Chatzivasileiadis <br>
**Instructor:** Hans Hoogenboom <br>
**TA:** Ka Yi Chua <br>
**[Metropolitan Data 1](https://jhoogenboom.github.io/spatial-data-science/_index.html)** <br>

---

## Table of Contents

* [Learning Goals](#chapter0)
* [Basic EDA workflow](#chapter1)
* [Loading and Cleaning with Pandas](#chapter2)
    * [Reading in the data](#section2_1)
    * [Examing the dataframe - quick checks](#section2_2)
    * [Examining the dataframe - a deeper look](#section2_3) 
    * [Dealing with Missing Values](#section2_4)
* [Parsing and Completing the Data Frame](#chapter3)
* [Grouping](#section4)

## Learning Goals <a class="anchor" id="chapter0"></a>

About 6,000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, ancoded as `NaN` values in our data set, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Use groupby to aggregate data on a particular feature column, such as author.

## Basic EDA workflow <a class="anchor" id="chapter1"></a>

(From the lecture, repeated here for convenience).

The basic workflow is as follows:

1. **Build** a DataFrame from the data (ideally, put all data in this object)
2. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
3. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas <a class="anchor" id="chapter2"></a>
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning. 

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Let us see what issues we find with the data and resolve them.  



----




After loading appropriate libraries

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 30)

### Cleaning: Reading in the data <a class="anchor" id="section2_1"></a>
We read in and clean the data from `goodreads.csv`.

In [2]:
#Read the data into a dataframe
df = pd.read_csv("./data/goodreads.csv", encoding='utf-8')

#Examine the first few rows of the dataframe
df

      4.40 136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html  2958974            The Hunger Games (The Hunger Games, #1)
0     4.41  16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478  Harry Potter and the Order of the Phoenix (Har...
1     3.56  85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564                            Twilight (Twilight, #1)
2     4.23  47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123                              To Kill a Mockingbird
3     4.23  34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992                                Pride and Prejudice
4     4.25  12363  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470                                 Gone with the Wind
...    ...    ...         ...              ...                                                ...               ...                                                ...                                                                                                                                                                                                                                                   ...      ...                                                ...
5994  4.17   2226  0767913736  good_reads:book  https://www.goodreads.com/author/show/44565.Ca...            2005.0  /genres/history|/genres/non-fiction|/genres/bi...                                                                                                                                                                                                                   dir60/78508.The_River_of_Doubt.html    16618                                 The River of Doubt
5995  3.99    775  1416909427  good_reads:book  https://www.goodreads.com/author/show/151371.J...            2006.0  /genres/young-adult|/genres/realistic-fiction|...                                                                                                                                                                                                                                dir60/259068.Shug.html     6179                                               Shug
5996  3.78    540  1620612321  good_reads:book  https://www.goodreads.com/author/show/5761314....            2012.0  /genres/contemporary|/genres/romance|/genres/y...                                                                                                                                                                                                                            dir60/13503247-flawed.html     2971                                             Flawed
5997  3.91    281         NaN  good_reads:book  https://www.goodreads.com/author/show/1201952....            2006.0  /genres/religion|/genres/islam|/genres/religio...                                                                                                                                                                                                                                    dir60/2750008.html     3083              Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ

5998  4.35     61  0786929081  good_reads:book  https://www.goodreads.com/author/show/1023510....            2001.0  /genres/fiction|/genres/fantasy|/genres/magic|...                                                                                                                                                                                                     dir60/66677.Legacy_of_the_Drow_Collector_s_Edi...     3982  Legacy of the Drow Collector's Edition (Legacy...

[5999 rows x 10 columns]

Here is a list of column in order:

`["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`


<div class="exercise"><b>Exercise 1</b></div>
Use these to load the dataframe properly! And then "head" the dataframe... (you will need to look at the read_csv docs)

In [3]:
df=pd.read_csv("data/goodreads.csv", header=None,
               names=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'],
)

#Examine the first few rows of the dataframe
df.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

### Cleaning: Examing the dataframe - quick checks <a class="anchor" id="section2_2"></a>

We should examine the dataframe to get a overall sense of the content. 

<div class="exercise"><b>Exercise 2</b></div>
Lets check the types of the columns. What do you find?

In [4]:
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

Notice that `review_count` and `rating_counts` are objects instead of ints, and the `year` is a float!

There are a couple more quick sanity checks to perform on the dataframe.

In [5]:
print(df.shape)
df.columns

(6000, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

### Cleaning: Examining the dataframe - a deeper look <a class="anchor" id="section2_3"></a>

Beyond performing checking some quick general properties of the data frame and looking at the first $n$ rows, we can dig a bit deeper into the values being stored. If you haven't already, check to see if there are any missing values in the data frame.

Let's see for a column which seemed OK to us.

In [6]:
#Get a sense of how many missing values there are in the dataframe.
print(np.sum([df.rating.isnull()]))
print(np.sum([df.review_count.isnull()]))
print(np.sum([df.isbn.isnull()]))
print(np.sum([df.booktype.isnull()]))
print(np.sum([df.author_url.isnull()]))
print(np.sum([df.year.isnull()]))
print(np.sum([df.genre_urls.isnull()]))
print(np.sum([df.dir.isnull()]))
print(np.sum([df.rating_count.isnull()]))
print(np.sum([df.name.isnull()]))

2
0
475
0
0
7
62
0
0
0

In [7]:
#Try to locate where the missing values occur
df[df.rating.isnull()]

      rating review_count  isbn booktype author_url  year genre_urls                              dir rating_count  name
3643     NaN         None  None     None       None   NaN        NaN  dir37/9658936-harry-potter.html         None  None
5282     NaN         None  None     None       None   NaN        NaN     dir53/113138.The_Winner.html         None  None

How does `pandas` or `numpy` handle missing values when we try to compute with data sets that include them?

We'll now check if any of the other suspicious columns have missing values.  Let's look at `year` and `review_count` first.

One thing you can do is to try and convert to the type you expect the column to be. If something goes wrong, it likely means your data are bad.

Lets test for missing data:

In [8]:
df[df.year.isnull()]

df.year.isnull()
df.shape

(6000, 10)

### Cleaning: Dealing with Missing Values <a class="anchor" id="section2_4"></a>
How should we interpret 'missing' or 'invalid' values in the data (hint: look at where these values occur)? One approach is to simply exclude them from the dataframe. Is this appropriate for all 'missing' or 'invalid' values?

In [9]:
#Treat the missing or invalid values in your dataframe
####### 

df = df[df.year.notnull()]

Ok so we have done some cleaning. What do things look like now? Notice the float has not yet changed.

In [10]:
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [11]:
print(np.sum(df.year.isnull()))
df.shape # We removed seven rows

0

(5993, 10)

<div class="exercise"><b>Exercise 3</b></div>

Ok so lets fix those types. Convert them to ints. If the type conversion fails, we now know we have further problems.

In [12]:
# your code here
df.rating_count=df.rating_count.astype(int)
df.review_count=df.review_count.astype(int)
df.year=df.year.astype(int)

Once you do this, we seem to be good on these columns (no errors in conversion). Lets look:

In [13]:
df.dtypes

rating          float64
review_count      int64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

Some of the other colums that should be strings have NaN.

In [14]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""

##  Part 2: Parsing and Completing the Data Frame <a class="anchor" id="chapter3"></a>

We will parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

We will use panda's `map` to assign new columns to the dataframe.

Examine an example `author_url` and reason about which sequence of string operations must be performed in order to isolate the author's name.

In [15]:
#Get the first author_url
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/153394.Suzanne_Collins'

In [16]:
#Test out some string operations to isolate the author name

test_string.split('/')[-1].split('.')[1:][0]

'Suzanne_Collins'

<div class="exercise"><b>Exercise 4</b></div>

Lets wrap the above code into a function which we will then use

In [17]:
# Write a function that accepts an author url and returns the author's name based on your experimentation above
def get_author(url):

    name = url.split('/')[-1].split('.')[1:][0]
     
    return name

In [18]:
#Apply the get_author function to the 'author_url' column using '.map' 
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(get_author)
df.author[0:5]

0    Suzanne_Collins
1        J_K_Rowling
2    Stephenie_Meyer
3         Harper_Lee
4        Jane_Austen
Name: author, dtype: object

<div class="exercise"><b>Exercise 5</b></div>

Now parse out the genres from `genre_url`.  

This is a little more complicated because there be more than one genre.

In [19]:
df.genre_urls.head()

0    /genres/young-adult|/genres/science-fiction|/g...
1    /genres/fantasy|/genres/young-adult|/genres/fi...
2    /genres/young-adult|/genres/fantasy|/genres/ro...
3    /genres/classics|/genres/fiction|/genres/histo...
4    /genres/classics|/genres/fiction|/genres/roman...
Name: genre_urls, dtype: object

In [20]:
#Examine some examples of genre_urls

#Test out some string operations to isolate the genre name
test_genre_string=df.genre_urls[0]
genres=test_genre_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

young-adult
science-fiction
dystopia
fantasy
science-fiction
romance
adventure
book-club
young-adult
teen
apocalyptic
post-apocalyptic
action

<div class="exercise"><b>Exercise 6</b></div>

Write a function that accepts a genre url and returns the genre name based on your experimentation above

In [21]:
def split_and_join_genres(url):
    
    genres=url.strip().split('|')
    genres=[e.split('/')[-1] for e in genres]
    return "|".join(genres)

Test your function

In [22]:
split_and_join_genres("/genres/young-adult|/genres/science-fiction")

'young-adult|science-fiction'

In [23]:
split_and_join_genres("")

''

<div class="exercise"><b>Exercise 7</b></div>

Use map again to create a new "genres" column

In [24]:

df['genres']=df.genre_urls.map(split_and_join_genres)
df.head()

   rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name           author                                             genres
0    4.40        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html       2958974            The Hunger Games (The Hunger Games, #1)  Suzanne_Collins  young-adult|science-fiction|dystopia|fantasy|s...
1    4.41         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...       1284478  Harry Potter and the Order of the Phoenix (Har...      J_K_Rowling  fantasy|young-adult|fiction|fantasy|magic|chil...
2    3.56         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html       2579564                            Twilight (Twilight, #1)  Stephenie_Meyer  young-adult|fantasy|romance|paranormal|vampire...
3    4.23         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html       2078123                              To Kill a Mockingbird       Harper_Lee  classics|fiction|historical-fiction|academic|s...
4    4.23         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html       1388992                                Pride and Prejudice      Jane_Austen  classics|fiction|romance|historical-fiction|li...

Finally, let's pick an author at random so we can see the results of the transformations.  Scroll to see the `author` and `genre` columns that we added to the dataframe.

In [25]:
df[df.author == "Marguerite_Yourcenar"]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                  dir  rating_count                name                author                                             genres
1014    4.23           483  0374529264  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1951  /genres/historical-fiction|/genres/fiction|/ge...  dir11/12172.Memoirs_of_Hadrian.html          6258  Memoirs of Hadrian  Marguerite_Yourcenar  historical-fiction|fiction|cultural|france|cla...
5620    4.11            74  2070367983  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1968  /genres/fiction|/genres/historical-fiction|/ge...     dir57/953435.L_uvre_au_noir.html          1601    L'Åuvre au noir  Marguerite_Yourcenar  fiction|historical-fiction|cultural|france|eur...

Let us delete the `genre_urls` column.

In [26]:
del df['genre_urls']

And then save the dataframe out!

In [27]:
df.to_csv("data/cleaned-goodreads.csv", index=False, header=True)

---

## Part 3: Grouping  <a class="anchor" id="chapter4"></a>

It appears that some books were written in negative years!  Print out the observations that correspond to negative years.  What do you notice about these books?

In [28]:
# your code here
df[df.year < 0].name
#These are books written before the Common Era (BCE, equivalent to BC).

47                               The Odyssey
246                    The Iliad/The Odyssey
455                             The Republic
596                               The Aeneid
629                              Oedipus Rex
674                           The Art of War
746                        The Bhagavad Gita
777                                 Antigone
1233                       The Oedipus Cycle
1397                          Aesop's Fables
1398                   The Epic of Gilgamesh
1428                                   Medea
1815                            The Oresteia
1882         The Trial and Death of Socrates
2078    The History of the Peloponnesian War
2527                           The Histories
3133                          Complete Works
3274                  The Nicomachean Ethics
3757                              Lysistrata
4402                           The Symposium
4475                                 Apology
5367                          Five Dialogues
Name: name, dtype: object

We can determine the "best book" by year! For this we use Panda's `groupby()`. `Groupby()` allows grouping a dataframe by any (usually categorical) variable. Would it make sense to ever groupby integer variables? Floating point variables?

In [29]:
dfgb_author = df.groupby('author')
type(dfgb_author)

pandas.core.groupby.generic.DataFrameGroupBy

Perhaps we want the number of books each author wrote

In [30]:
dfgb_author.count()

                       rating  review_count  isbn  booktype  author_url  year  dir  rating_count  name  genres
author
A_A_Milne                   6             6     6         6           6     6    6             6     6       6
A_G_Howard                  1             1     1         1           1     1    1             1     1       1
A_J_Cronin                  1             1     1         1           1     1    1             1     1       1
A_J_Jacobs                  1             1     1         1           1     1    1             1     1       1
A_J_Salt                    1             1     1         1           1     1    1             1     1       1
...                       ...           ...   ...       ...         ...   ...  ...           ...   ...     ...
_                          42            42    42        42          42    42   42            42    42      42
_gota_Krist_f               1             1     1         1           1     1    1             1     1       1
_mile_Zola                  4             4     4         4           4     4    4             4     4       4
_ric_Emmanuel_Schmitt       1             1     1         1           1     1    1             1     1       1
_sne_Seierstad              1             1     1         1           1     1    1             1     1       1

[2645 rows x 10 columns]

Lots of useless info there. One column should suffice

<div class="exercise"><b>Exercise 8</b></div>

- Group the dataframe by `author`. Include the following columns: `rating`, `name`, `author`. For the aggregation of the `name` column which includes the names of the books create a list with the strings containing the name of each book. Make sure that the way you aggregate the rest of the columns make sense! 

- Create a new column with number of books for each author and find the most prolific author!

In [31]:
###### Before we start : what do we do about these titles where 'name' is unreadable? Try different encodings?
auth_name = 'A_id_al_Qarni'
df[df.author == auth_name].head()

      rating  review_count isbn         booktype                                         author_url  year                 dir  rating_count                                   name         author                                             genres
2213    4.19          1169       good_reads:book  https://www.goodreads.com/author/show/1201952....  2003  dir23/2750180.html         15781                          ÙØ§ ØªØ­Ø²Ù  A_id_al_Qarni  religion|religion|islam|self-help|non-fiction|...
5998    3.91           281       good_reads:book  https://www.goodreads.com/author/show/1201952....  2006  dir60/2750008.html          3083  Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ
  A_id_al_Qarni  religion|islam|religion|self-help|spirituality...

In [32]:
df[df.author == auth_name].iat[0,8].encode('UTF-16')

b'\xff\xfe\xd9\x00\x84\x00\xd8\x00\xa7\x00 \x00\xd8\x00\xaa\x00\xd8\x00\xad\x00\xd8\x00\xb2\x00\xd9\x00\x86\x00'

In [33]:
# let's examine the columns we have
df.columns

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'dir', 'rating_count', 'name', 'author', 'genres'], dtype='object')

Create the GroupBy table

In [34]:
authors = df.copy()
authors = authors[['rating','name','author']].groupby('author').agg({'rating' : np.mean,
                                                                    'name' : '|'.join})

In [35]:
authors = authors.reset_index()
authors.head()

       author  rating                                               name
0   A_A_Milne   4.365  Winnie-the-Pooh|The House at Pooh Corner|The H...
1  A_G_Howard   4.020                        Splintered (Splintered, #1)
2  A_J_Cronin   4.220                            The Keys of the Kingdom
3  A_J_Jacobs   3.750                      The Year of Living Biblically
4    A_J_Salt   4.940                    Nik Nassa & the Mark of Destiny

In [36]:
# split the column string and make a list of string book names
authors['name'] = authors.name.str.split('|')
authors.head()

       author  rating                                               name
0   A_A_Milne   4.365  [Winnie-the-Pooh, The House at Pooh Corner, Th...
1  A_G_Howard   4.020                      [Splintered (Splintered, #1)]
2  A_J_Cronin   4.220                          [The Keys of the Kingdom]
3  A_J_Jacobs   3.750                    [The Year of Living Biblically]
4    A_J_Salt   4.940                  [Nik Nassa & the Mark of Destiny]

In [37]:
# count the books - create new column
len(authors.name[0])

6

In [38]:
authors['num_books'] = authors['name'].str.len()
authors

                     author    rating                                               name  num_books
0                 A_A_Milne  4.365000  [Winnie-the-Pooh, The House at Pooh Corner, Th...          6
1                A_G_Howard  4.020000                      [Splintered (Splintered, #1)]          1
2                A_J_Cronin  4.220000                          [The Keys of the Kingdom]          1
3                A_J_Jacobs  3.750000                    [The Year of Living Biblically]          1
4                  A_J_Salt  4.940000                  [Nik Nassa & the Mark of Destiny]          1
...                     ...       ...                                                ...        ...
2640                      _  3.988095  [Ø¹Ø²Ø§Ø²ÙÙ, Ø«ÙØ§Ø«ÙØ© ØºØ±ÙØ§Ø·Ø©, ØªØ±...         42
2641          _gota_Krist_f  4.340000           [The Notebook, The Proof, The Third Lie]          1
2642             _mile_Zola  3.990000  [Germinal (Les Rougon-Macquart, #13), L'Assomm...          4
2643  _ric_Emmanuel_Schmitt  4.160000                            [Oscar et la dame rose]          1
2644         _sne_Seierstad  3.740000                          [The Bookseller of Kabul]          1

[2645 rows x 4 columns]

In [39]:
# sort for more prolific
authors.sort_values(by='num_books', ascending=False).iloc[0]

author                                            Stephen_King
rating                                                 3.91875
name         [The Stand, The Shining (The Shining #1), It, ...
num_books                                                   56
Name: 2349, dtype: object

#### Winner is Stephen King with 56 books

Perhaps you want more detailed info...

In [40]:
dfgb_author[['rating', 'rating_count', 'review_count', 'year']].describe()

                      rating                                                        rating_count                                                                    ... review_count                                                         year
                       count      mean       std   min     25%    50%     75%   max        count          mean           std      min       25%      50%       75%  ...         mean          std     min      25%     50%      75%     max count         mean         std     min      25%     50%      75%     max
author                                                                                                                                                              ...
A_A_Milne                6.0  4.365000  0.078677  4.25  4.3275  4.365  4.4025  4.48          6.0  47842.333333  57135.314010    544.0  15559.50  30547.0  50401.25  ...   543.000000   682.473150     1.0   219.50   309.5   499.25  1886.0   6.0  1944.166667   29.294482  1926.0  1926.25  1927.5  1952.75  1997.0
A_G_Howard               1.0  4.020000       NaN  4.02  4.0200  4.020  4.0200  4.02          1.0  17073.000000           NaN  17073.0  17073.00  17073.0  17073.00  ...  3194.000000          NaN  3194.0  3194.00  3194.0  3194.00  3194.0   1.0  2013.000000         NaN  2013.0  2013.00  2013.0  2013.00  2013.0
A_J_Cronin               1.0  4.220000       NaN  4.22  4.2200  4.220  4.2200  4.22          1.0   1015.000000           NaN   1015.0   1015.00   1015.0   1015.00  ...   109.000000          NaN   109.0   109.00   109.0   109.00   109.0   1.0  1941.000000         NaN  1941.0  1941.00  1941.0  1941.00  1941.0
A_J_Jacobs               1.0  3.750000       NaN  3.75  3.7500  3.750  3.7500  3.75          1.0  39489.000000           NaN  39489.0  39489.00  39489.0  39489.00  ...  4371.000000          NaN  4371.0  4371.00  4371.0  4371.00  4371.0   1.0  2007.000000         NaN  2007.0  2007.00  2007.0  2007.00  2007.0
A_J_Salt                 1.0  4.940000       NaN  4.94  4.9400  4.940  4.9400  4.94          1.0     16.000000           NaN     16.0     16.00     16.0     16.00  ...     6.000000          NaN     6.0     6.00     6.0     6.00     6.0   1.0  2014.000000         NaN  2014.0  2014.00  2014.0  2014.00  2014.0
...                      ...       ...       ...   ...     ...    ...     ...   ...          ...           ...           ...      ...       ...      ...       ...  ...          ...          ...     ...      ...     ...      ...     ...   ...          ...         ...     ...      ...     ...      ...     ...
_                       42.0  3.988095  0.301211  3.15  3.8000  4.075  4.2075  4.47         42.0  11574.642857   9368.218450     10.0   4724.00   8709.5  15572.75  ...  1437.214286  1216.421371     1.0   534.75  1020.5  1745.75  4785.0  42.0  1998.904762   18.721071  1941.0  1994.75  2007.0  2010.75  2014.0
_gota_Krist_f            1.0  4.340000       NaN  4.34  4.3400  4.340  4.3400  4.34          1.0   2628.000000           NaN   2628.0   2628.00   2628.0   2628.00  ...   243.000000          NaN   243.0   243.00   243.0   243.00   243.0   1.0  1986.000000         NaN  1986.0  1986.00  1986.0  1986.00  1986.0
_mile_Zola               4.0  3.990000  0.100995  3.84  3.9750  4.035  4.0500  4.05          4.0   8358.250000   4553.226942   3594.0   5181.75   8095.0  11271.50  ...   283.750000   171.069917   125.0   189.50   243.5   337.75   523.0   4.0  1652.500000  456.345264   968.0  1649.75  1878.5  1881.25  1885.0
_ric_Emmanuel_Schmitt    1.0  4.160000       NaN  4.16  4.1600  4.160  4.1600  4.16          1.0   6439.000000           NaN   6439.0   6439.00   6439.0   6439.00  ...   424.000000          NaN   424.0   424.00   424.0   424.00   424.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0
_sne_Seierstad           1.0  3.740000       NaN  3.74  3.7400  3.740  3.7400  3.74          1.0  24993.000000           NaN  24993.0  24993.00  24993.0  24993.00  ...  2088.000000          NaN  2088.0  2088.00  2088.0  2088.00  2088.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0

[2645 rows x 32 columns]

You can also access a `groupby` dictionary style.

In [41]:
ratingdict = {}
for author, subset in dfgb_author:
    ratingdict[author] = (subset['rating'].mean(), subset['rating'].std())
ratingdict

{'A_A_Milne': (4.364999999999999, 0.0786765530510839),
 'A_G_Howard': (4.02, nan),
 'A_J_Cronin': (4.22, nan),
 'A_J_Jacobs': (3.75, nan),
 'A_J_Salt': (4.94, nan),
 'A_Meredith_Walters': (4.15, 0.16970562748477094),
 'A_N_Roquelaure': (3.45, 0.2262741699796951),
 'A_S_Byatt': (3.86, nan),
 'A_S_King': (3.93, nan),
 'A_id_al_Qarni': (4.050000000000001, 0.19798989873223347),
 'Abbi_Glines': (4.179285714285713, 0.12916681436834276),
 'Abdul_Rahman_Munif': (4.03, nan),
 'Abigail_Gibbs': (3.82, nan),
 'Abigail_Roux': (4.47, 0.22876479915697992),
 'Abigail_Thomas': (3.68, nan),
 'Abolqasem_Ferdowsi': (4.52, nan),
 'Abraham_Verghese': (4.26, nan),
 'Abul_Hasan_Ali_Nadwi': (4.15, nan),
 'Adam_Hochschild': (4.14, nan),
 'Adam_Johnson': (4.03, nan),
 'Adam_Levin': (4.04, nan),
 'Adam_Rex': (4.14, nan),
 'Adam_Smith': (3.82, nan),
 'Addison_Moore': (3.78, nan),
 'Adeline_Yen_Mah': (4.01, nan),
 'Adolf_Hitler': (2.97, nan),
 'Adolfo_Bioy_Casares': (4.06, nan),
 'Aeschylus': (3.96, nan),
 'Aesop': (4.03, nan),
 'Agatha_Christie': (3.9772727272727266, 0.12190905701307918),
 'Ahlam_Mosteghanemi': (3.97, nan),
 'Ahmad_Baari': (4.88, nan),
 'Ahmad_Fuadi': (4.0, nan),
 'Ai_Yazawa': (4.19, nan),
 'Aidan_Chambers': (4.27, nan),
 'Aimee_Carter': (3.9133333333333336, 0.13051181300301234),
 'Aimee_Friedman': (3.64, nan),
 'Alain_Fournier': (3.79, nan),
 'Alan_Bradley': (3.79, nan),
 'Alan_Brennert': (4.13, nan),
 'Alan_Campbell': (3.58, nan),
 'Alan_Hollinghurst': (3.65, nan),
 'Alan_Lightman': (4.07, nan),
 'Alan_Moore': (4.198, 0.1630030674557996),
 'Alan_Paton': (3.83, nan),
 'Alan_Wilson_Watts': (4.27, nan),
 'Alastair_Reynolds': (4.09, nan),
 'Albert_Camus': (4.032000000000001, 0.09523654760647308),
 'Albert_Einstein': (4.13, nan),
 'Albert_Espinosa': (3.36, nan),
 'Alcoholics_Anonymous': (4.39, nan),
 'Aldo_Leopold': (4.22, nan),
 'Aldous_Huxley': (3.9400000000000004, 0.12288205727444491),
 'Aleatha_Romig': (4.275, 0.27577164466275333),
 'Alecia_Stone': (4.455, 0.657609306503489),
 'Aleksandr_Solzhenitsyn': (4.0600000000000005, 0.12288205727444532),
 'Alessandro_Baricco': (4.036666666666666, 0.21361959960016158),
 'Alessandro_Manzoni': (3.71, nan),
 'Alex_Flinn': (3.8200000000000003, 0.04242640687119289),
 'Alex_Garland': (3.5300000000000002, 0.46669047558312116),
 'Alex_Haley': (4.39, nan),
 'Alex_Harris': (4.11, nan),
 'Alex_Kotlowitz': (4.23, nan),
 'Alex_Sanchez': (3.91, 0.08485281374238578),
 'Alexander_Gordon_Smith': (4.09, nan),
 'Alexander_Jovy': (4.12, nan),
 'Alexander_McCall_Smith': (3.7, nan),
 'Alexander_Pushkin': (4.03, nan),
 'Alexandra_Adornetto': (3.8666666666666667, 0.16441816606851367),
 'Alexandra_Bracken': (4.2, 0.3269556544854364),
 'Alexandra_Fuller': (3.94, nan),
 'Alexandra_Ivy': (3.9899999999999998, 0.21213203435596414),
 'Alexandra_Monir': (3.88, nan),
 'Alexandra_Potter': (3.18, nan),
 'Alexandra_Ripley': (3.23, nan),
 'Alexandre_Dumas': (4.09, 0.08485281374238578),
 'Alexandre_Dumas_fils': (3.94, nan),
 'Alexei_Maxim_Russell': (4.17, 0.6298412498399895),
 'Alexis_de_Tocqueville': (3.94, nan),
 'Alfred_Bester': (4.075, 0.10606601717798238),
 'Alfred_Lansing': (4.31, nan),
 'Alfred_Tennyson': (4.04, nan),
 'Ali_Marsman': (4.1, nan),
 'Ali_Smith': (3.46, nan),
 'Alice_Clayton': (4.19, nan),
 'Alice_Hoffman': (3.7942857142857145, 0.11602544876838351),
 'Alice_Kuipers': (3.65, nan),
 'Alice_Schroeder': (4.03, nan),
 'Alice_Sebold': (3.725, 0.007071067811865324),
 'Alice_Walker': (4.074999999999999, 0.07778174593052045),
 'Alija_Izetbegovi_': (4.46, nan),
 'Alison_Bechdel': (4.12, nan),
 'Alison_Croggon': (4.2175, 0.2766917659297678),
 'Alison_Goodman': (4.0649999999999995, 0.0919238815542511),
 'Alison_Weir': (3.9899999999999998, 0.08888194417315584),
 'Alistair_MacLeod': (3.98, nan),
 'Allan_Frewin_Jones': (3.795, 0.28991378028648457),
 'Allan_Gurganus': (3.83, nan),
 'Allan_Pease': (3.94, nan),
 'Allegra_Goodman': (3.67, nan),
 'Allen_Ginsberg': (4.15, nan),
 'Ally_Carter': (4.1977777777777785, 0.21194207804125262),
 'Ally_Condie': (3.6133333333333333, 0.1040832999733067),
 'Ally_Shields': (3.83, nan),
 'Allyse_Near': (4.26, nan),
 'Alma_Katsu': (3.69, nan),
 'Alyson_Noel': (3.772, 0.17516975893242662),
 'Alyxandra_Harvey': (4.03, 0.1153256259467082),
 'Am_lie_Nothomb': (3.77, 0.08485281374238578),
 'Amanda_E_Alvarez': (3.77, nan),
 'Amanda_Hocking': (3.95375, 0.12993817211054096),
 'Amber_Argyle': (3.69, nan),
 'Amber_Lea_Easton': (4.21, nan),
 'Ambrose_Bierce': (4.15, nan),
 'Amelia_Atwater_Rhodes': (4.041666666666667, 0.13090709173557669),
 'Amelia_Hutchins': (4.38, 0.19798989873223286),
 'Ami_McKay': (3.97, nan),
 'Amin_Maalouf': (4.17, nan),
 'Amish_Tripathi': (3.93, 0.0),
 'Amitav_Ghosh': (3.91, nan),
 'Amor_Towles': (3.98, nan),
 'Amy_A_Bartol': (4.3375, 0.16680827317612265),
 'Amy_Efaw': (3.72, nan),
 'Amy_Harmon': (4.365, 0.14849242404917495),
 'Amy_Hempel': (4.27, nan),
 'Amy_Plum': (4.105, 0.12020815280171367),
 'Amy_Tan': (3.8200000000000003, 0.24361855430159662),
 'Anastacia_Moore': (4.65, nan),
 'Anchee_Min': (3.86, nan),
 'Andr_Aciman': (4.04, nan),
 'Andr_Gide': (3.67, nan),
 'Andre_Agassi': (4.11, nan),
 'Andre_Dubus_III': (3.77, nan),
 'Andrea_Cremer': (4.066666666666666, 0.055075705472860864),
 'Andrea_Hirata': (3.94, 0.2764054992217052),
 'Andrea_Levy': (3.86, nan),
 'Andrew_Clements': (3.8266666666666667, 0.05859465277082333),
 'Andrew_Davidson': (3.96, nan),
 'Andrew_Klavan': (4.12, 0.1838477631085022),
 'Andrew_Smith': (4.17, nan),
 'Andrzej_Sapkowski': (4.273333333333333, 0.11060440015358027),
 'Andy_Szpuk': (4.18, nan),
 'Andy_Weir': (4.33, nan),
 'Angel_Sefer': (4.43, nan),
 'Angela_Carter': (4.01, 0.0707106781186545),
 'Angela_Morrison': (4.0, nan),
 'Angelo_Tsanatelis': (4.1899999999999995, 0.21213203435596412),
 'Angie_Martin': (4.4399999999999995, 0.11313708498984708),
 'Angie_Sage': (3.865, 0.134350288425444),
 'Anita_Diamant': (4.13, nan),
 'Anita_Shreve': (3.84, nan),
 'Ann_Aguirre': (4.025, 0.14849242404917495),
 'Ann_Brashares': (3.742857142857143, 0.10291003930849597),
 'Ann_Fairbairn': (4.41, nan),
 'Ann_M_Martin': (4.16, nan),
 'Ann_Marie_MacDonald': (3.91, nan),
 'Ann_Patchett': (3.78, 0.1513274595042156),
 'Ann_Rule': (4.029999999999999, 0.12186057606953923),
 'Anna_Banks': (4.0600000000000005, 0.014142135623731277),
 'Anna_Carey': (3.8200000000000003, 0.1555634918610406),
 'Anna_Gavalda': (4.1, nan),
 'Anna_Godbersen': (3.7866666666666666, 0.12701705922171752),
 'Anna_Lee_Waldo': (4.2, nan),
 'Anna_Quindlen': (3.81, nan),
 'Anna_Sewell': (3.92, nan),
 'Anne_Bishop': (4.253, 0.14735067771212387),
 'Anne_Bront_': (3.7249999999999996, 0.19091883092036785),
 'Anne_Carson': (4.39, nan),
 'Anne_Elisabeth_Stengl': (4.18, 0.39509492530276813),
 'Anne_Fadiman': (4.12, nan),
 'Anne_Fortier': (3.9, nan),
 'Anne_Frank': (4.06, nan),
 'Anne_Lamott': (4.18, 0.042426406871192576),
 'Anne_McCaffrey': (4.033076923076924, 0.1835022531825615),
 'Anne_Michaels': (3.96, nan),
 'Anne_Morrow_Lindbergh': (4.18, nan),
 'Anne_Rice': (3.812105263157895, 0.14401307607947048),
 'Anne_Tyler': (3.8316666666666666, 0.16702295251451718),
 'Annemarie_Selinko': (3.94, nan),
 'Annette_Curtis_Klause': (3.7, 0.09899494936611673),
 'Annie_Dillard': (3.98, 0.19798989873223347),
 'Annie_Proulx': (3.8449999999999998, 0.10606601717798206),
 'Anonymous': (4.265294117647059, 0.3613363676524068),
 'Anthony_Bourdain': (3.97, nan),
 'Anthony_Burgess': (4.055, 0.14849242404917495),
 'Anthony_Doerr': (4.19, nan),
 'Anthony_Hope': (3.87, nan),
 'Anthony_Horowitz': (4.0672727272727265, 0.08462752614733685),
 'Anthony_Kiedis': (4.06, nan),
 'Anthony_Marra': (4.15, nan),
 'Anthony_Ryan': (4.54, nan),
 'Anthony_Swofford': (3.59, nan),
 'Anthony_Trollope': (4.01, 0.028284271247461926),
 'Antoine_de_Saint_Exup_ry': (4.293333333333333, 0.1365039681962884),
 'Anton_Chekhov': (4.06, 0.35791060336346536),
 'Antonia_Fraser': (3.89, nan),
 'Antonia_Michaelis': (4.14, nan),
 'Antony_Beevor': (4.28, nan),
 'Anya_Seton': (4.18, nan),
 'Aporva_Kala': (4.355, 0.10606601717798175),
 'April_Henry': (3.94, nan),
 'Aprilynne_Pike': (4.0225, 0.19720970226301415),
 'Aravind_Adiga': (3.69, nan),
 'Ariana_Franklin': (3.94, nan),
 'Aristophanes': (3.82, nan),
 'Aristotle': (3.88, nan),
 'Arkady_Strugatsky': (4.275, 0.06363961030678918),
 'Armando_Cosani': (4.55, nan),
 'Armistead_Maupin': (4.07, nan),
 'Art_Spiegelman': (4.426666666666667, 0.07767453465154048),
 'Arthur_C_Clarke': (3.9659999999999997, 0.17285832349065502),
 'Arthur_Conan_Doyle': (4.1984615384615385, 0.2004098364953741),
 'Arthur_Golden': (4.03, nan),
 'Arthur_Koestler': (4.03, nan),
 'Arthur_Miller': (3.47, 0.028284271247461926),
 'Arthur_Ransome': (3.97, nan),
 'Arthur_Rimbaud': (4.3933333333333335, 0.0461880215351701),
 'Arthur_Schnitzler': (3.79, nan),
 'Arturo_P_rez_Reverte': (3.8049999999999997, 0.007071067811865638),
 'Arun_Tiwari': (4.1, nan),
 'Arundhati_Roy': (3.88, nan),
 'Asa_Don_Brown': (4.45, nan),
 'Ashley_Chappell': (4.605, 0.26162950903902266),
 'Ashley_Waelti': (4.36, nan),
 'Astrid_Lindgren': (4.1899999999999995, 0.12000000000000009),
 'Audrey_Niffenegger': (3.565, 0.5020458146424487),
 'Augusten_Burroughs': (3.815, 0.23334523779156074),
 'Augustine_of_Hippo': (3.82, nan),
 'Aurora_Rose_Reynolds': (4.21, nan),
 'Austin_Kleon': (3.88, nan),
 'Author_Neva_Squires_Rodriguez': (4.25, nan),
 'Autumn_Cornwell': (3.95, nan),
 'Avery_Aster': (3.73, 0.3144307024873154),
 'Avi': (3.79, nan),
 'Ayaan_Hirsi_Ali': (4.18, nan),
 'Ayn_Rand': (3.7979999999999996, 0.1739827577663947),
 'Azar_Nafisi': (3.54, nan),
 'B_Kristin_McMichael': (3.8700000000000006, 0.14106735979665874),
 'Banana_Yoshimoto': (3.82, nan),
 'Barack_Obama': (3.66, nan),
 'Barbara_Demick': (4.41, nan),
 'Barbara_Ehrenreich': (3.58, nan),
 'Barbara_Erskine': (4.04, nan),
 'Barbara_Kingsolver': (3.931666666666666, 0.11321071798494443),
 'Barbara_Taylor_Bradford': (4.12, nan),
 'Barbara_W_Tuchman': (4.126666666666666, 0.08082903768654764),
 'Barry_Jordan_Jr_': (4.48, nan),
 'Barry_Lyga': (3.99, nan),
 'Barry_Unsworth': (4.12, nan),
 'Beatrice_Sparks': (3.76, nan),
 'Beatrix_Potter': (4.24, 0.14142135623730964),
 'Becca_Fitzpatrick': (4.24, 0.18264720090929407),
 'Belle_Aurora': (4.255, 0.12020815280171303),
 'Belsebuub': (4.62, nan),
 'Belzebuub': (4.475, 0.0919238815542511),
 'Ben_Goldacre': (4.07, nan),
 'Ben_Peller': (4.18, 0.21213203435596412),
 'Ben_Sherwood': (3.99, nan),
 'Benedict_Freedman': (4.12, nan),
 'Benjamin_Alire_S_enz': (4.27, nan),
 'Benjamin_Franklin': (3.78, nan),
 'Benjamin_Graham': (4.24, nan),
 'Benjamin_Hoff': (4.0600000000000005, 0.08485281374238578),
 'Bernadette_Azizi': (4.06, nan),
 'Bernard_Cornwell': (4.123333333333333, 0.22327113561766107),
 'Bernard_Malamud': (3.77, 0.2262741699796954),
 'Bernhard_Schlink': (3.69, nan),
 'Bertolt_Brecht': (3.66, nan),
 'Bertrand_Russell': (4.02, nan),
 'Beryl_Markham': (4.18, nan),
 'Bess_Streeter_Aldrich': (4.07, nan),
 'Beth_Fantaskey': (3.86, nan),
 'Beth_Hoffman': (3.89, nan),
 'Beth_Revis': (3.94, 0.19798989873223347),
 'Bethany_Hamilton': (4.12, nan),
 'Bette_Greene': (3.63, nan),
 'Betty_Edwards': (3.86, nan),
 'Betty_Friedan': (3.81, nan),
 'Betty_MacDonald': (4.15, nan),
 'Betty_Mahmoody': (3.99, nan),
 'Betty_Smith': (4.22, nan),
 'Bev_Stout': (4.4, nan),
 'Bill_Bryson': (3.963333333333333, 0.10535653752852739),
 'Bill_Courtney': (4.39, nan),
 'Bill_Konigsberg': (4.05, nan),
 'Bill_Martin_Jr_': (4.16, nan),
 'Bill_Watterson': (4.69, 0.060415229867972826),
 'Billie_Letts': (3.97, nan),
 'Bisco_Hatori': (4.35, nan),
 'Blue_Jeans': (4.15, nan),
 'Bo_Hampton': (3.94, nan),
 'Bob_Atkinson': (4.15, nan),
 'Bob_Dylan': (3.99, nan),
 'Bodie_Thoene': (4.336666666666666, 0.06806859285554051),
 'Bohumil_Hrabal': (4.16, 0.05656854249492385),
 'Boris_Pasternak': (4.02, nan),
 'Boris_Vian': (4.035, 0.0212132034355966),
 'Brae_Wyckoff': (3.92, nan),
 'Bram_Stoker': (3.94, nan),
 'Brandon_Mull': (4.211666666666666, 0.15419684389333865),
 'Brandon_Sanderson': (4.316363636363636, 0.2578089497000725),
 'Bree_Despain': (3.945, 0.1626345596729056),
 'Brenna_Yovanoff': (3.58, nan),
 'Brent_Weeks': (4.300000000000001, 0.11882760622010352),
 'Bret_Easton_Ellis': (3.62, 0.13656500283747663),
 'Brett_Axel': (4.61, nan),
 'Brian_Celio': (4.05, nan),
 'Brian_Greene': (4.1, nan),
 'Brian_Jacques': (4.009285714285714, 0.07205385653633149),
 'Brian_K_Vaughan': (4.15, nan),
 'Brian_Katcher': (3.89, nan),
 'Brian_L_Weiss': (4.16, nan),
 'Brian_Lumley': (3.96, nan),
 'Brian_Patrick_McKinley': (4.53, nan),
 'Brian_Selznick': (4.175, 0.06363961030678918),
 'Brigid_Kemmerer': (4.125, 0.1484924240491756),
 'Brodi_Ashton': (3.81, nan),
 'Brom': (4.09, nan),
 'Brother_Andrew': (4.29, nan),
 'Brother_Lawrence': (4.31, nan),
 'Bruce_Campbell': (4.01, nan),
 'Bruno_Schulz': (4.2, nan),
 'Bryan_Davis': (4.17, nan),
 'Bryan_Lee_O_Malley': (4.24, 0.09899494936611643),
 'Bryce_Courtenay': (4.125, 0.15631165450257803),
 'CLAMP': (4.12, nan),
 'C_C_Humphreys': (3.82, nan),
 'C_C_Hunter': (4.322, 0.10183319694480758),
 'C_D_Payne': (4.03, nan),
 'C_E_Kilgore': (3.96, nan),
 'C_G_Jung': (4.18, nan),
 'C_J_Box': (3.8, nan),
 'C_J_Daugherty': (4.105, 0.1343502884254443),
 'C_J_Redwine': (3.74, nan),
 'C_J_Roberts': (4.27, 0.1664331697709322),
 'C_J_Sansom': (4.06, nan),
 'C_L_Stone': (4.416666666666667, 0.10969655114602912),
 'C_L_Wilson': (4.239999999999999, 0.13076696830622028),
 'C_S_Lewis': (4.056111111111111, 0.13856996062252486),
 'Caleb_Carr': (4.03, nan),
 'Candace_Bushnell': (3.56, nan),
 'Candice_Millard': (4.17, nan),
 'Cao_Xueqin': (4.05, nan),
 'Cara_Lynn_Shultz': (3.91, nan),
 'Caragh_M_O_Brien': (3.92, nan),
 'Carl_Hiaasen': (3.8099999999999996, 0.04242640687119289),
 'Carl_Sagan': (4.26, 0.12549900398011124),
 'Carla_Capshaw': (4.29, 0.03605551275463999),
 'Carlo_Collodi': (3.83, nan),
 'Carlos_Castaneda': (3.91, nan),
 'Carlos_Rivera': (4.53, nan),
 'Carlos_Ruiz_Zaf_n': (3.89, 0.25910100990411694),
 'Carol_E_Wyer': (4.25, nan),
 'Carol_Plum_Ucci': (4.06, nan),
 'Carol_Rifka_Brunt': (4.04, nan),
 'Carol_Shields': (3.79, nan),
 'Carole_Wilkinson': (3.94, nan),
 'Carolina_Andujar': (4.32, nan),
 'Caroline_B_Cooney': (3.7, nan),
 'Carolyn_Jessop': (3.94, nan),
 'Carolyn_Keene': (3.935, 0.0212132034355966),
 'Carolyn_Turgeon': (3.6, nan),
 'Carrie_Jones': (3.9033333333333338, 0.16502525059315412),
 'Carrie_Ryan': (3.8633333333333333, 0.22744962812309308),
 'Carrie_Vaughn': (3.66, nan),
 'Carson_McCullers': (3.9133333333333336, 0.11239810200058233),
 'Cassandra_Clare': (4.428461538461539, 0.18876114332872967),
 'Cat_Clarke': (3.85, 0.1131370849898477),
 'Cat_Patrick': (3.825, 0.007071067811865638),
 'Cate_Tiernan': (4.085, 0.07778174593051983),
 'Cath_Crowley': (3.89, nan),
 'Catherine_Anderson': (4.21, 0.05873670062235346),
 'Catherine_Fisher': (3.67, 0.04242640687119289),
 'Catherine_Gilbert_Murdock': (3.72, nan),
 'Catherine_Hardwicke': (4.13, nan),
 'Catherine_Jinks': (3.79, nan),
 'Catherine_Marshall': (4.16, nan),
 'Catherynne_M_Valente': (4.096666666666667, 0.09451631252505201),
 'Cecelia_Ahern': (3.85, 0.12708265027138832),
 'Cecily_von_Ziegesar': (3.6233333333333335, 0.13613718571108077),
 'Celia_Rees': (3.82, nan),
 'Celso_Cukierkorn': (4.15, nan),
 'Chad_Harbach': (3.99, nan),
 'Chaim_Potok': (4.05, 0.10099504938362074),
 'Chanda_Hahn': (3.995, 0.16263455967290624),
 'Charlaine_Harris': (3.987499999999999, 0.2074126322093232),
 'Charles_Baudelaire': (4.295, 0.049497474683058526),
 'Charles_Bukowski': (3.966666666666667, 0.16120380475245202),
 'Charles_C_Mann': (4.01, nan),
 'Charles_Darwin': (3.94, nan),
 'Charles_Dickens': (3.852666666666666, 0.1682458518557491),
 'Charles_Frazier': (3.685, 0.12020815280171303),
 'Charles_H_Spurgeon': (4.49, nan),
 'Charles_M_Sheldon': (4.12, nan),
 'Charles_Palliser': (4.05, nan),
 'Charles_Portis': (4.11, nan),
 'Charles_de_Lint': (4.3, nan),
 'Charlie_Higson': (4.06, nan),
 'Charlotte_Bront_': (3.813333333333334, 0.22368132093076837),
 'Charlotte_Perkins_Gilman': (3.97, nan),
 'Chelsea_Bellingeri': (4.25, 0.15684387141358128),
 'Chelsea_Fine': (3.99, nan),
 'Chelsea_Handler': (3.8049999999999997, 0.03535533905932756),
 'Chelsea_M_Cameron': (4.05, nan),
 'Cherie_Currie': (3.92, nan),
 'Cherie_Priest': (3.51, nan),
 'Cheryl_McIntyre': (4.28, nan),
 'Cheryl_Strayed': (3.91, nan),
 'Chetan_Bhagat': (3.415, 0.06363961030678918),
 'Chevy_Stevens': (3.94, nan),
 'Chimamanda_Ngozi_Adichie': (4.21, nan),
 'China_Mi_ville': (3.955, 0.1299999999999999),
 'Chinua_Achebe': (3.55, nan),
 'Chitra_Banerjee_Divakaruni': (3.76, 0.41012193308819733),
 'Chloe_Neill': (4.1579999999999995, 0.07395944834840242),
 'Chris_Bohjalian': (3.653333333333333, 0.2510644007686741),
 'Chris_Cleave': (3.66, nan),
 'Chris_Colfer': (4.166666666666667, 0.2829016319029164),
 'Chris_Crutcher': (3.9699999999999998, 0.014142135623730963),
 'Chris_Kyle': (3.95, nan),
 'Chris_Lange': (4.93, nan),
 'Chris_Thrall': (3.75, nan),
 'Chris_Titus': (3.64, nan),
 'Chris_Van_Allsburg': (4.26, nan),
 'Chris_Ware': (4.11, nan),
 'Chris_Wooding': (4.023333333333333, 0.06506407098647707),
 'Chris_d_Lacey': (3.9159999999999995, 0.14293355099485924),
 'Christina_Baker_Kline': (4.07, nan),
 'Christina_Dodd': (4.19, nan),
 'Christina_Lauren': (4.175, 0.1343502884254437),
 'Christina_Mercer': (4.22, nan),
 'Christina_Schwarz': (3.69, nan),
 'Christine_Feehan': (4.1739999999999995, 0.10784247771634307),
 'Christine_M_Knight': (4.18, 0.21213203435596412),
 'Christine_Sparks': (3.86, nan),
 'Christine_Zolendz': (4.115, 0.03535533905932725),
 'Christopher_Barzak': (4.09, nan),
 'Christopher_Hitchens': (3.92, nan),
 'Christopher_Marlowe': (3.77, nan),
 'Christopher_McDougall': (4.28, nan),
 'Christopher_Moore': (3.91875, 0.1851977707363516),
 'Christopher_Paolini': (4.072857142857143, 0.2016361645567154),
 'Christopher_Paul_Curtis': (3.91, nan),
 'Christopher_Pike': (4.031666666666667, 0.13044794619566344),
 'Christopher_Rice': (3.89, nan),
 'Christopher_Shields': (4.15, 0.07071067811865513),
 'Chuck_Dixon': (4.48, nan),
 'Chuck_Klosterman': (3.79, 0.0707106781186545),
 'Chuck_Palahniuk': (3.7975000000000003, 0.22017849901516612),
 'Cinda_Williams_Chima': (4.248571428571428, 0.18809825193486618),
 'Cindy_C_Bennett': (4.09, nan),
 'Cindy_Springsteen': (4.77, nan),
 'Claire_LaZebnik': (3.75, nan),
 'Clare_B_Dunkle': (4.13, nan),
 'Clare_Vanderpool': (4.01, nan),
 'Clarice_Lispector': (3.95, nan),
 'Clarissa_Pinkola_Est_s': (4.11, nan),
 'Claude_Brown': (4.3, nan),
 'Claudia_Gray': (3.81, 0.09949874371066192),
 'Clay_Griffith': (3.87, nan),
 'Clement_C_Moore': (4.34, nan),
 'Clive_Barker': (4.108, 0.056302753041037115),
 'Clive_Cussler': (3.925, 0.007071067811865638),
 'Colleen_Hoover': (4.3862499999999995, 0.08034523721327322),
 'Colleen_Houck': (4.3325, 0.13671747023210548),
 'Colleen_McCullough': (4.109999999999999, 0.09899494936611643),
 'Collette_Sinclaire': (4.48, 0.18384776310850284),
 'Colum_McCann': (3.9, 0.0),
 'Conn_Iggulden': (4.286666666666666, 0.015275252316519626),
 'Connie_May_Fowler': (3.96, nan),
 'Connie_Willis': (4.0, 0.1705872210923196),
 'Conor_Grennan': (4.26, nan),
 'Cora_Carmack': (3.91, 0.1272792206135787),
 'Cormac_McCarthy': (4.086666666666667, 0.17014699527173546),
 'Cornelia_Funke': (3.931666666666667, 0.11160943807163755),
 'Cornelius_Ryan': (4.3, nan),
 'Corrie_ten_Boom': (4.41, nan),
 'Cory_Doctorow': (3.95, nan),
 'Courtney_Allison_Moulton': (4.115, 0.23334523779156074),
 'Courtney_Summers': (3.83, 0.09899494936611673),
 'Craig_Clevenger': (4.01, nan),
 'Craig_Silvey': (4.01, nan),
 'Craig_Thompson': (4.035, 0.03535533905932725),
 'Cristiane_Serruya': (4.16, 0.18734993995195165),
 'Crockett_Johnson': (4.23, nan),
 'Cupcake_Brown': (4.11, nan),
 'Curtis_Sittenfeld': (3.32, nan),
 'Cynthia_Collins': (4.64, nan),
 'Cynthia_Hand': (4.16, 0.03605551275463999),
 'Cynthia_Kadohata': (3.87, nan),
 'Cynthia_Lord': (3.95, nan),
 'Cynthia_Voigt': (3.9000000000000004, 0.014142135623730963),
 'D_B_C_Pierre': (3.54, nan),
 'D_B_Shan': (3.92, nan),

<div class="exercise"><b>Exercise 9</b></div>

Lets get the best-rated book(s) for every year in our dataframe.

In [42]:
#Using .groupby, we can divide the dataframe into subsets by the values of 'year'.
#We can then iterate over these subsets
for year, subset in df.groupby('year'):
    #Find the best book of the year

    bestbook = subset[subset.rating == subset.rating.max()]
    if bestbook.shape[0] > 1:
        print(year, bestbook.name.values, bestbook.rating.values)
    else:
        print(year, bestbook.name.values[0], bestbook.rating.values[0])

-1500 The Epic of Gilgamesh 3.6
-800 The Iliad/The Odyssey 4.01
-560 Aesop's Fables 4.03
-512 The Art of War 3.92
-500 The Bhagavad Gita 4.06
-458 The Oresteia 3.96
-442 Antigone 3.52
-440 The Histories 3.94
-431 Medea 3.8
-429 Oedipus Rex 3.64
-411 The History of the Peloponnesian War 3.84
-400 Complete Works 4.3
-390 Apology 4.11
-380 The Republic 3.85
-370 The Symposium 3.99
-360 Five Dialogues 4.07
-350 The Nicomachean Ethics 3.88
-29 The Aeneid 3.77
4 The Seven Spiritual Laws of Success 4.04
8 Metamorphoses 4.01
13 The Day Jesus Rode Into Croydon 3.85
100 The New Oxford Annotated Bible, New Revised Standard Version 4.3
121 The Twelve Caesars 4.02
130 Holy Bible 4.45
158 The Golden Ass 3.88
174 Meditations 4.16
200 The Garden of Eden 3.75
201 Fe Fi FOE Comes 4.37
213 NaÃ¯ve. Super 3.9
397 Confessions 3.82
632 The Quran 4.37
800 Beowulf 3.38
900 The Arabian Nights 4.04
968 La BÃªte humaine (Les Rougon-Macquart, #17) 4.02
1002 The Pillow Book 4.04
1008 The Tale of Genji 3.68
1010 Shahnameh 4.52
1100 Rubaiyat of Omar Khayyam 4.22
1106 The TÃ¡in 3.98
1140 Poema de MÃ­o Cid 3.42
1200 The Poetic Edda 4.24
1215 Ù
Ø«ÙÙÛ Ù
Ø¹ÙÙÛ 4.44
1220 The Prose Edda 4.16
1300 The Imitation of Christ 4.16
1314 Inferno (The Divine Comedy, #1) 3.96
1321 The Divine Comedy 4.04
1348 The Decameron 3.85
1386 Auto-da-FÃ© 4.04
1390 Sir Gawain and the Green Knight 3.66
1391 Keep the Aspidistra Flying 3.86
1485 Le Morte d'Arthur 3.91
1516 Utopia 3.46
1522 Three Kingdoms 4.41
1532 The Prince 3.72
1572 The Complete Essays 4.21
1589 Titus Andronicus 3.7
1590 The Taming of the Shrew 3.82
1592 Monkey 4.04
1595 A Midsummer Night's Dream 3.93
1597 Richard III 3.9
1599 Much Ado About Nothing 4.05
1600 Henry V 3.85
1601 Twelfth Night 3.95
1602 Hamlet 3.98
1603 Othello 3.86
1604 Doctor Faustus 3.77
1605 King Lear 3.88
1606 Antony and Cleopatra 3.64
1608 Coriolanus 3.65
1609 Shakespeare's Sonnets 4.24
1611 Holy Bible 4.39
1621 The Anatomy of Melancholy 4.21
1623 The Complete Works 4.5
1635 La vida es sueÃ±o 3.98
1642 A Book of Five Rings 4.11
1667 Paradise Lost 3.77
1678 The Pilgrim's Progress 3.92
1680 The Divan 4.65
1691 The Practice of the Presence of God 4.31
1719 Robinson Crusoe 3.62
1721 Moll Flanders 3.45
1726 Gulliver's Travels 3.52
1729 A Modest Proposal and Other Satirical Works 4.03
1748 Clarissa, or, the History of a Young Lady 3.28
1749 The History of Tom Jones, a Foundling 3.72
1759 Candide 3.74
1767 The Life and Opinions of Tristram Shandy, Gentleman 3.76
1774 The Sorrows of Young Werther 3.59
1776 The Declaration of Independence and The Constitution of the United States 4.44
1778 Evelina 3.62
1781 Critique of Pure Reason 3.85
1782 Les Liaisons Dangereuses 4.08
1787 The Constitution of the United States of America 4.52
1790 The Marriage of Heaven and Hell 4.27
1791 Dream of the Red Chamber 4.05
1794 Songs of Innocence and of Experience 4.11
1795 The Monk 3.77
1798 Lyrical Ballads 3.92
1806 Phenomenology of Spirit 3.85
1811 Sense and Sensibility 4.04
1812 The Complete Grimm's Fairy Tales 4.29
1813 Pride and Prejudice 4.23
1814 Mansfield Park 3.79
1815 Emma 3.97
1817 Persuasion 4.12
1818 Frankenstein 3.7
1819 Ivanhoe 3.71
1820 The Legend of Sleepy Hollow 3.94
1823 The Night Before Christmas 4.34
1824 Don Juan 3.79
1825 Eugene Onegin 4.03
1826 The Last of the Mohicans (The Leatherstocking Tales #2) 3.67
1830 The Book of Mormon 4.42
1831 The Hunchback of Notre-Dame 3.93
1832 Faust 3.98
1833 Poetry 4.04
1834 PÃ¨re Goriot 3.79
1835 Hymns of The Church of Jesus Christ of Latter-day Saints 4.68
1837 A Season in Hell/The Drunken Boat 4.34
1839 A Hero of Our Time 4.09
1840 Tales of Mystery and Imagination 4.2
1841 The Old Curiosity Shop 3.69
1842 The pit and the pendulum and other stories (Penguin 60s) 4.12
1843 Lost Illusions 4.14
1844 The Raven 4.23
1845 The Raven and Other Poems 4.27
1847 Jane Eyre 4.07
1848 White Nights and Other Stories 4.09
1849 The Law 4.4
1850 Ishmael 4.4
1851 Paris Spleen 4.33
1852 Uncle Tom's Cabin 3.77
1853 The History of Joseph Smith by His Mother 4.37
1854 Walden & Civil Disobedience 3.97
1855 North and South 4.13
1856 Song of Myself 4.17
1857 Les Fleurs du Mal 4.26
1859 The Origin of Species 3.94
1860 Stepping Heavenward 4.27
1861 Notes from Underground 4.14
1862 Les MisÃ©rables 4.09
1863 From the Earth to the Moon (Extraordinary Voyages, #4) 3.76
1864 Our Mutual Friend 4.08
1865 ["Alice's Adventures in Wonderland & Through the Looking-Glass"
 'Wives and Daughters'] [4.05 4.05]
1866 Morning and Evening, Based on the English Standard Version 4.49
1867 Capital, Volume 1 (Das Kapital, #1) 4.15
1868 Little Women (Little Women, #1) 4.0
1869 The Idiot 4.15
1870 Complete Works 4.42
1871 Through the Looking-Glass, and What Alice Found There (Alice's Adventures in Wonderland #2) 4.09
1872 Middlemarch 3.89
1873 Around the World in Eighty Days 3.87
1874 The Complete Fairy Tales 4.27
1875 Illuminations 4.42
1876 The Adventures of Tom Sawyer 3.86
1877 L'Assommoir (The Dram Shop) (The Dram Shop) (Les Rougon-Macquart, #7) 4.05
1878 Human, All Too Human 4.2
1879 Sir Gibbie 4.25
1880 The Brothers Karamazov 4.28
1881 The Prince and the Pauper 3.81
1882 The Gay Science 4.23
1883 Thus Spoke Zarathustra 4.03
1884 The Death of Ivan Ilych 3.98
1885 Germinal (Les Rougon-Macquart, #13) 4.05
1886 Beyond Good and Evil 4.0
1887 A Study in Scarlet (Sherlock Holmes, #1) 4.13
1888 ['The Complete Fairy Tales' 'The Nightingale and the Rose'] [4.33 4.33]
1889 The Collected Poems 4.25
1890 Hunger 4.11
1891 A Scandal in Bohemia (The Adventures of Sherlock Holmes, #1) 4.22
1892 The Adventures of Sherlock Holmes (Sherlock Holmes, #3) 4.27
1893 The Memoirs of Sherlock Holmes (Sherlock Holmes, #4) 4.33
1894 The Jungle Books 3.97
1895 The Importance of Being Earnest and Other Plays 4.24
1896 Story of a Soul 4.36
1897 De Profundis and Other Writings 4.19
1898 The War of the Worlds 3.75
1899 The Complete Works of William Shakespeare 4.62
1900 Selected Stories 4.35
1901 The Tale of Peter Rabbit 4.14
1902 Holy Bible 4.66
1903 The Scarlet Pimpernel 4.05
1904 The Return of Sherlock Holmes (Sherlock Holmes, #6) 4.27
1905 A Little Princess 4.19
1906 The Unabridged Devil's Dictionary 4.15
1907 The Shepherd of the Hills 4.14
1908 The Complete Anne of Green Gables Boxed Set (Anne of Green Gables, #1-8) 4.42
1909 Martin Eden 4.31
1910 Gitanjali 4.33
1911 The Secret Garden 4.09
1912 Daddy-Long-Legs (Daddy-Long-Legs, #1) 4.07
1913 In the Shadow of Young Girls in Flower (In Search of Lost Time, #2) 4.39
1914 Rashomon and Seventeen Other Stories 4.1
1915 Jesus the Christ 4.66
1916 The Mysterious Stranger 4.14
1917 Anne's House of Dreams (Anne of Green Gables, #5) 4.1
1918 The Elements of Style 4.17
1919 Remembrance of Things Past 4.28
1920 The Guermantes Way 4.33
1921 Rilla of Ingleside (Anne of Green Gables, #8) 4.13
1922 Remembrance of Things Past 4.53
1923 Leave It to Psmith (Psmith, #4 ; Blandings Castle, #2) 4.28
1924 The Complete Sherlock Holmes 4.49
1925 The Captive & The Fugitive (In Search of Lost Time, #5-6) 4.41
1926 The World of Winnie-the-Pooh 4.41
1927 Time Regained (In Search of Lost Time, #7) 4.5
1928 The House at Pooh Corner 4.35
1929 Letters to a Young Poet 4.35
1930 The Complete Sherlock Holmes, Volume II 4.44
1931 The Joy of Cooking 4.15
1932 Journey to the End of the Night 4.25
1933 The Complete Novels 4.54
1934 I, Claudius/Claudius the God 4.42
1935 Musashi 4.41
1936 Three Comrades 4.48
1937 The Cost of Discipleship 4.35
1938 The Science of Mind 4.39
1939 Arch of Triumph 4.39
1940 The Little Prince 4.23
1941 Ø¹Ø¨ÙØ±ÙØ© Ø¹Ù
Ø± 4.25
1942 The Little House 4.27
1943 KÃ¼rk Mantolu Madonna 4.55
1944 Ficciones 4.48
1945 The Aleph and Other Stories 4.41
1946 The Complete Stories 4.34
1947 Survival in Auschwitz 4.32
1948 King of the Wind 4.17
1949 Paroles 4.27
1950 à®ªà¯à®©à¯à®©à®¿à®¯à®¿à®©à¯ à®à¯à®²à¯à®µà®©à¯ [Ponniyin Selvan] 4.71
1951 The Foundation Trilogy (Foundation, #1-3) 4.37
1952 Holy Bible 4.55
1953 The Flight of the Feathered Serpent 4.55
1954 The Return of the King (The Lord of the Rings, #3) 4.48
1955 Les rois maudits Vols 1-7 4.44
1956 Through Gates of Splendor 4.37
1957 The Cairo Trilogy (The Cairo Trilogy #1-3) 4.46
1958 Exodus 4.31
1959 ['Life and Fate' '100 Love Sonnets'] [4.44 4.44]
1960 The Annotated Alice 4.48
1961 New World Translation of the Holy Scriptures 4.59
1962 Labyrinths 4.47
1963 The Civil War 4.58
1964 The Feynman Lectures on Physics 4.57
1965 Manchild in the Promised Land 4.3
1966 The Disorderly Knights (The Lymond Chronicles, #3) 4.57
1967 ['The Master and Margarita' 'The Forgotten Soldier'] [4.33 4.33]
1968 The Proper Role of Government 4.49
1969 Pawn in Frankincense (The Lymond Chronicles, #4) 4.64
1970 The Fortress 4.67
1971 Tutunamayanlar 4.61
1972 Le Monogramme 4.78
1973 J.R.R. Tolkien 4-Book Boxed Set 4.58
1974 The Power Broker 4.51
1975 Checkmate (The Lymond Chronicles, #6) 4.71
1976 Roots 4.39
1977 A Lover's Discourse 4.37
1978 The Best of Roald Dahl 4.38
1979 GÃ¶del, Escher, Bach 4.29
1980 Cosmos 4.35
1981 The Lord God Made Them All 4.36
1982 The Book of Disquiet 4.52
1983 Essays and Lectures 4.27
1984 Ø§ÙØ¥Ø³ÙØ§Ù
 Ø¨ÙÙ Ø§ÙØ´Ø±Ù ÙØ§ÙØºØ±Ø¨ 4.46
1985 Lonesome Dove 4.44
1986 The Hitchhiker's Guide to the Galaxy 4.5
1987 Calvin and Hobbes 4.61
1988 The Essential Calvin and Hobbes 4.64
1989 The Hobbit 4.48
1990 The Authoritative Calvin And Hobbes 4.7
1991 Rain of Gold 4.49
1992 The Indispensable Calvin and Hobbes 4.71
1993 Mark of the Lion Trilogy 4.75
1994 The Complete Aubrey/Maturin Novels (5 Volumes) 4.69
1995 The Calvin and Hobbes Tenth Anniversary Book 4.63
1996 Calvin and Hobbes 4.75
1997 The Song of the Lioness Quartet (Song of the Lioness, #1-4) 4.57
1998 Harry Potter Boxset (Harry Potter, #1-7) 4.73
1999 The Harry Potter Collection (Harry Potter, #1-4) 4.63
2000 Standing for Something 4.64
2001 A Storm of Swords (A Song of Ice and Fire, #3-1) 4.5
2002 Way to Be! 4.62
2003 The Complete Far Side, 1980-1994 4.66
2004 Ù¾ÛØ±Ù Ú©Ø§Ù
Ù 4.58
2005 The Complete Calvin and Hobbes 4.8
2006 Warriors Boxed Set (Warriors, #1-3) 4.67
2007 ESV Study Bible 4.76
2008 The Absolute Sandman, Vol. 4 4.75
2009 Black Dagger Brotherhood 4.69
2010 The Years Distilled 4.93
2011 Family Secrets 5.0
2012 ['A Book About Absolutely Nothing.'
 'Obscured Darkness (Family Secrets #2)' "Patience's Love"
 'Abstraction In Theory - Laws Of Physical Transaction'] [5. 5. 5. 5.]
2013 Blade Heart 4.93
2014 ['An Elephant Is On My House' 'Untainted (Photographer Trilogy, #3)'] [5. 5.]